body {
	padding: 1em;
	font-family: Helvetica, sans-serif;
}

div.wrapper {
	width: 600px;
	margin: 0 auto;
	
	header h1 {
		text-align: left;
	}

	section {
		margin-top: 3em;
		padding: 1em;
		border: 1px solid #eee;
		min-height: 10em;
	}
}


div.calculation {
	margin: 1em;
	padding: 1em;
}